asgiref==3.8.1
blinker==1.9.0
Django==5.1.7
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.15.2
dnspython==2.7.0
mongoengine==0.29.1
pymongo==4.11.2
pytz==2025.1
sqlparse==0.5.3
tzdata==2025.1
